{% extends 'app/index.html' %}
{% block title %} Share a post {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if sent %}
      <h1>E-mail successfully sent</h1>
      <p>
        "{{ post.title }}" was successfully sent to {{form.cleaned_data.to}}.
      </p>
    {% else %}
        <h1>Share "{{post.title}}" by e-mail</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group col-sm-4">
              {{form | crispy }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Share Post</button>
        </form>
        <br>
  </div>
    {% endif %}
{% endblock %}